<app-navbar></app-navbar>

<div class="container-fluid-1" *ngIf="this.portfolio.length==0">
  <div
    data-aos="fade-left"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="rounded float-start mb-5 d-flex justify-content-center align-items-center"
  >
    <h1
      style="
        font-size: 4.5rem;
        font-family: 'Noto Sans', sans-serif;
        text-shadow: #ccc 3px 3px 3px;
      "
    >
      Didn't Invest Yet?<br />

      Invest Now!
    </h1>
  </div>

  <div
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="rounded float-start mb-5 d-flex justify-content-center align-items-center"
  >
    <ng-lottie
      [options]="options"
      (animationCreated)="animationCreated($event)"
      width="500px"
    ></ng-lottie>
  </div>

</div>

<div class="pt-3" *ngIf="this.portfolio.length!==0">
  <div class="p-10 bg-surface-secondary">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h6>Portfolio</h6>
        </div>
        <div class="table-responsive" >
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
              <tr>
                <th scope="col">Fund Name</th>
                <th scope="col">Provider</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total</th>
                <!-- <th scope="col">Date</th> -->
                <th>Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of portfolio" class="zoom">
                <td data-label="Job Title">
                  <img [src]="'https://assets-netstorage.groww.in/mf-assets/logos/'+lower(obj.funds?.schemaName)+'_groww.png'" style="width: 31px; height: 31px;"/>
                  <span class="text-heading font-semibold">
                    {{ obj.funds?.schemaName }}
                  </span>
                </td>
                <td data-label="fundHouse">
                  <span>{{ obj.funds?.fundHouse }}</span>
                </td>
                <td data-label="Unit">
                  <span class="text-current">{{ (obj.unit).toFixed(2) }}</span>
                </td>
                <td data-label="CurrentPrice">
                  <span class="text-current">{{ obj.funds?.currentPrice }}</span>
                </td>
                <td data-label="total">
                  <span class="badge bg-soft-success text-success">{{
                    (obj.funds?.currentPrice * obj.unit).toFixed(3)
                  }}</span>
                </td>

                <td data-label="">
                  <button
                    class="btn"
                    style="background-color: teal"
                    (click)="
                      sellMethod(obj.funds.schemaId, obj.price, obj.unit)
                    "
                  >
                    Sell
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <td data-label="">
                    <span class="text-current">{{
                      obj.transactionDate | date : "dd/MM/yyyy"
                    }}</span>
                  </td> -->
