<div class="back">
  <div
    class="container height-100 d-flex justify-content-center align-items-center"
  >
    <div class="position-relative">
      <div class="card p-2 text-center">
        <h6>
          Please enter the one time password <br />
          to verify your account
        </h6>
        <div>
          <span>A code has been sent to </span> <small>{{ email }}</small>
        </div>
        <div
          id="otp"
          class="inputs d-flex flex-row justify-content-center mt-2"
        >
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="first"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="second"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="third"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="fourth"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="fifth"
            maxlength="1"
          />
          <input
            class="m-2 text-center form-control rounded"
            type="text"
            id="sixth"
            maxlength="1"
          />
        </div>
        <div class="mt-4">
          <button (click)="submitOTP()" class="btn btn-success px-4 validate">
            Validate
          </button>
        </div>
        <div class="">
          <div class="content d-flex justify-content-center align-items-center">
            <span>Didn't get the code</span>
            <a
              style="cursor: pointer"
              class="text-decoration-none ms-3"
              (click)="resendOtp()"
              (click)="startCountdown()"
              >Resend</a
            >
          </div>
          <div *ngIf="showTimer"><p> Otp will expire in {{ remainingTime }} seconds</p></div>
        </div>
      </div>

    </div>
  </div>
</div>

